<%= form_for(@comment, remote:true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <div class="input-field">
      <select name="comment[comment_type]" id="comment_type">
        <!-- <option value="" disabled selected>Choose your option</option> -->
        <option value="Suggestion">Suggestion</option>
        <option value="Advantage">Advantage</option>
        <option value="Disadvantage">Disadvantage</option>
        <option value="Existent solution">Existent solution</option>
        <option value="Related factors">Related factors</option>

      </select>
      <%= f.label :comment_type %>
    </div>
  <!-- </div> -->

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class:"z-depth-1 borderless_box form_text_comment" %>
  </div>

  <div class="field hide">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field hide">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value:current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class:"btn waves-effect green actions", id:"form_submit" %>
  </div>
<% end %>
