<% unless group.id.nil? %>

<div id="group-<%=group.id%>" class="">

  <div  id="group_card" class="card grey darken-3  z-depth-3 ">
    <div id="group_row" class="row">
      <div class="card-title white-text">
        <h4 id="group_name"  class=" z-depth-3  grey"><%= group.name %></h4>
      </div>
      <div id="" class="card-content white-text col s12 m12 l9">
        <p class="group_description"><strong>Description:</strong></p>
        <p class="group_description_text"><%= group.description %></p><br>
        <p><strong>Created:</strong> <%= group.created_at.strftime('%F') %> </p>
        <% unless group.id.nil? %>
        <p><strong>Created by:</strong> <%= group.user.username %> </p>
        <% end %>
      </div>
      <div class="col s12 m12 l3">

      </div>
    </div>

    <div id="action-sec" class="row z-depth-2 toc-wrapper row">
      <!-- <div class="row"> -->
        <div class="col s8 m8 l8 blue  waves-light waves-effect">
          <!-- <p class="center-align">ENTER</p> -->
          <p><%= link_to 'OPEN GROUP', group, class:"white-text center-align" %></p>
        </div>
        <div class="col s4 m4 l4 red waves-light  waves-effect">
          <p class="center-align">ABANDON</p>

        </div>
      <!-- </div> -->
    </div>

  </div>

</div>

<% end %>
