

<%= form_for(@post, remote:false, html:{ multipart:true}) do |f| %>


  <div id="post-form-box" class="apart-2 container ">

    <div class="row apart">
      <div class="col s12 m8 l8">
        <div class="error-area container z-depth-2 red lighten-2">
          <% if @post.errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
        <h4>Describe your idea</h4>
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "z-depth-1 shadow_override" %>
        </div>
        <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content, class:"z-depth-1 borderless_box form_text" %>
        </div>

        <div>
          <input  class="btn green actions" id="form_submit" type="submit" name="commit" value="Stash idea">
          <%= f.submit "clear", :type => "reset", class:"btn red actions" %>
          <%= link_to 'CANCEL', posts_path, class:"btn grey actions" %>
        </div>

      </div>
      <div class="side-form col s12 m4 l4 z-depth-2">
        <div class="field  side-form-pads  ">
          <%= f.label :category %><br>


            <p>
              <%= f.radio_button(:category, "Technology") %>
              <%= f.label(:category, "Technology", value: "Technology") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Health") %>
              <%= f.label(:category, "Health", value: "Health") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Business") %>
              <%= f.label(:category, "Business", value: "Business") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Outdoors") %>
              <%= f.label(:category, "Outdoors", value: "Outdoors") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Home") %>
              <%= f.label(:category, "Home", value: "Home") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Other") %>
              <%= f.label(:category, "Other", value: "Other") %>
            </p>


        </div>
        <br>
        <div class="file-field   side-form-pads">
          <div class="">
            <%= f.label :picture %>
          </div>
          <div class="btn teal">
            <span>File</span>
            <%= f.file_field :photo, class:"file-path" %>
          </div>
          <div class="file-path-wrapper">
            <%= f.file_field :photo, class:"file-path", type: "text" %>
          </div>
          <%= f.hidden_field :photo_cache %>
        </div>

        <div class=" side-form-pads ">
          <div class="field ">
            <%= f.label :picture_from_web %><br>
            <%= f.text_field :remote_photo_url %>
          </div>
          <div class="field hide">
            <%= f.label :user_id %><br>
            <%= f.text_field :user_id, value:current_user.id %>
          </div>

        </div>

        <div class=" side-form-pads field">
          <%= f.label :privacy %><br>
          <!-- <div class=""> -->
              <%= f.check_box :public, checked: true , class:"red filled-in" %>
              <%= f.label 'public', id:'public'%>
          <!-- </div> -->
        </div>

      </div>
    </div>



  </div>
<% end %>

<script>

</script>
