

<%= form_for(@post, remote:false, html:{ multipart:true}) do |f| %>


  <div id="post-form-box" class="apart container">
    <h4>Describe your idea</h4>
    <div class="error-area">
      <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col s12 m8 l8">
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content, class:"form_text" %>
        </div>

        <div>
          <input  class="btn green actions" id="form_submit" type="submit" name="commit" value="Stash idea">
        </div>

      </div>
      <div class="col s12 m4 l4 z-depth-2">
        <div class="field z-depth-1 side-form-pads ">
          <%= f.label :category %><br>
          <ul>

            <p>
              <%= f.radio_button(:category, "Technology") %>
              <%= f.label(:category, "Technology", value: "Technology") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Health") %>
              <%= f.label(:category, "Health", value: "Health") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Business") %>
              <%= f.label(:category, "Business", value: "Business") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Outdoors") %>
              <%= f.label(:category, "Outdoors", value: "Outdoors") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Home") %>
              <%= f.label(:category, "Home", value: "Home") %>
            </p>
            <p>
              <%= f.radio_button(:category, "Other") %>
              <%= f.label(:category, "Other", value: "Other") %>
            </p>
          </ul>

        </div>

        <div class="file-field z-depth-1  side-form-pads input-field">
          <div class="">
            <%= f.label :picture %>
          </div><br><br>
          <div class="btn red">
            <span>File</span>
            <%= f.file_field :photo, class:"file-path" %>
          </div>
          <div class="file-path-wrapper">
            <%= f.file_field :photo, class:"file-path", type: "text" %>
          </div>
          <%= f.hidden_field :photo_cache %>
        </div>

        <div class=" side-form-pads z-depth-1">
          <div class="field ">
            <%= f.label :picture_from_web %><br>
            <%= f.text_field :remote_photo_url %>
          </div>
          <div class="field hide">
            <%= f.label :user_id %><br>
            <%= f.text_field :user_id, value:current_user.id %>
          </div>

        </div>

        <div class=" side-form-pads field z-depth-1">
          <%= f.label :privacy %><br>
          <div class="">
              <%= f.check_box :public, class:"red filled-in" %>
              <%= f.label 'public', id:'public'%>
          </div>
        </div>

      </div>
    </div>



  </div>
<% end %>

<script>

</script>
