
<div id="post-<%=post.id%>" class="idea-pack">
  <div id="post-panel-<%=post.id%>" class="waves-effect toc-wrapper col s12 m6 l7 valign hoverable z-depth-2 idea-panel">
    <!-- <div id="container-chan-left" class=""> -->

      <div class="square-box z-depth-4">
        <%=  image_tag post.photo, class:"img-responsive" %>
      </div>
      <div class="">
        <h5 class="truncate" ><%= post.title %></h5>
      </div>
      <div class="idea-description">
        <p class="truncate" ><%= post.user.username %></p>
      </div>
    <!-- </div> -->
  </div>

  <div class="idea-hidden-pre toc-wrapper hide-on-small-only col s12 m6 l5">
    <div id="view-<%=post.id%>" class="container-chan idea-hidden pinned hide">
      <!-- <div id="post-view-bar" class=" z-depth-0"> -->

        <!-- <div class="toc-wrapper"> -->
          <div id="category-sec" class="z-depth-3">
            <h5><strong><%= post.category %></strong></h5>
          </div>

          <div id="data-sec" class="z-depth-1 row">
            <div class="col s6 m6 l6">
              <strong>Date: </strong><%= post.created_at.strftime('%F') %>
            </div>
            <div class="col s6 m6 l6">
              <strong>Post ID: </strong><%= post.id %>
            </div>
          </div>

          <div id="content-sec" class="z-depth-2 ">
            <h4><%= post.title %></h4>
            <p><%= post.user.username %></p>
            <p class="truncate"><%= post.content %></p>
          </div>

          <div id="action-sec" class="valign-wrapper row z-depth-2 ">
            <div class="col s4 m4 l4 blue  waves-light waves-effect">
              <p class="center-align valign">ADD</p>
            </div>
            <div class="col s4 m4 l4 green waves-light  waves-effect">
              <p class="center-align valign">LIKE</p>
            </div>
            <div class="col s4 m4 l4 red waves-light waves-effect">
            <p class="center-align valign">DISLIKE</p>
            </div>
          </div>

          <div id="see-more" class=" z-depth-2  row">
            <div class=" valign-wrapper hoverable teal waves-effect col s12 m12 l12">
              <!-- <p class="">SEE MORE</p> -->
              <p><%= link_to 'SEE MORE', post, class:"center-align valign" %></p>

            </div>
          </div>
        <!-- </div> -->

      <!-- </div> -->
    </div>
  </div>

</div>
<script>
  $('#post-panel-<%=post.id%>').on('click', function(){
    $('.container-chan').addClass('hide');
    $('#view-<%=post.id%>').removeClass('hide');
    return false
  });
</script>
