<p id="notice"><%= notice %></p>

  <ul id="slide-out" class="apart side-nav fixed z-depth-4 ">
    <li id="category-logo" class="orange darken-4 z-depth-5"><h3>Categories</h3></li>
    <li class="li-a-color-a " ><a href="#">All</a></li>
    <li class="li-a-color-t " ><a href="#">Technology</a></li>
    <li class="li-a-color-he" ><a href="#">Health</a></li>
    <li class="li-a-color-b " ><a href="#">Business</a></li>
    <li class="li-a-color-ou " ><a href="#">Outdoors</a></li>
    <li class="li-a-color-ho" ><a href="#">Home</a></li>
    <li class="li-a-color-ot " ><a href="#">Other</a></li>
    <li><%= link_to 'New post', new_post_path %></li>
  </ul>
  <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<main class="apart ">
  <div id="main-box" class="row">

    <div id="post-bar" class="z-depth-0">
      <div id="idea-area" class="">

        <%= render @posts_explore %>

      </div>
    </div>
  </div>
</main>

<%= link_to 'New post', new_post_path %>

<script>

  $(document).ready(function () {
      $('#view-<%= @posts_explore.first.id%>').removeClass('hide');
  });
</script>
