private_<p id="notice"><%= notice %></p>

  <ul id="slide-out" class="apart side-nav fixed z-depth-3 ">
    <li id="category-logo" class="red z-depth-4"><h3>Categories</h3></li>

    <li><input type="text" name="buscador" value=""></li>
    <li class="li-a-color-a " ><%= link_to 'All', private_path %></li>

    <li class="" ><a href="#">Your ideas</a></li>
    <li class="" ><a href="#">Added ideas</a></li>
    <li class="li-a-color-t " ><%= link_to 'Technology', private_tec_path %></li>
    <li class="li-a-color-he" ><%= link_to 'Health', private_hea_path %></li>
    <li class="li-a-color-b " ><%= link_to 'Business', private_bus_path %></li>
    <li class="li-a-color-ou " ><%= link_to 'Outdoors', private_out_path %></li>
    <li class="li-a-color-ho" ><%= link_to 'Home', private_hom_path %></li>
    <li class="li-a-color-ot " ><%= link_to 'Other', private_oth_path %></li>
    <li><%= link_to 'New post', new_post_path %></li>
  </ul>
  <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<main class="apart ">
  <div id="main-box" class="row">

    <div id="post-bar" class="z-depth-0">
      <div id="idea-area" class="">

        <%= render @posts_private %>

      </div>
    </div>

  </div>
</main>


<script>
  $(document).ready(function () {

      $("[name = 'buscador']").on('input', function(){
       var filter = $(this).val();
       $.ajax({
         url:'<%= posts_path %>',
         type:'GET',
         dataType: 'script',
         data: {filter: filter}
       });
     });
  });
</script>
